---
layout: templates/simplified-home.njk
title: Brussels Games Festival
translationKey: simplified-homepage
---
{% layoutblock 'SH_FESTIVAL_PURPOSE', locale %}
EN1
{% endlayoutblock %}

{% layoutblock 'SH_FESTIVAL_PLACE', locale %}
EN2
{% endlayoutblock %}

{% layoutblock 'SH_FESTIVAL_VIDEOS', locale %}
EN3
{% endlayoutblock %}

{% layoutblock 'SH_FESTIVAL_AND_NOW', locale %}
EN4
{% endlayoutblock %}

{% layoutblock 'SH_FESTIVAL_PARTNERS', locale %}
EN5
{% endlayoutblock %}