{% extends 'templates/page.simplified-home.njk' %}

{% block social_card_title %}{% endblock %}
{% block social_card_description %}{% endblock %}
{% block social_card_url %}{% endblock %}
{% block social_card_image %}{% endblock %}