{%extends 'templates/base-template.njk' %}

{% block content%}
{% block before_container %}{% endblock %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 landing rounded text-md-left pb-3 mt-2 mb-5{% block content_classes %}{% endblock %}" id="content">
            {% block site_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}