{%extends 'templates/base-template-background.njk' %}

{% block before_container %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-10">
            <nav class="navbar navbar-expand-lg navbar-dark sticky-top transparent pb-0">
                <div class="container-fluid ps-0 pe-0">
                    <!--<a class="navbar-brand" href="#">Navbar</a>-->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Le BGF</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Programme</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Exposatns / Pro</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Bénévoles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Presse</a>
                            </li>
                        </ul>
                        {% include 'templates/snippets/language-nav.njk' %}
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block site_content %}

<div id="site_content">
{% include 'templates/snippets/header.njk' %}
{% block template_with_header_content %}{% endblock %}
</div>
{% endblock %}
{% block content_classes %}
 content_with_header
{% endblock %}