{%extends 'templates/base-site-template.njk' %}

{% block sticky_container_class %} sticky-top{% endblock %}

{% block navbar_menu %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-2">
    {%- for menu in site.menu -%}
    <li class="nav-item">
        {%- set active_class=""-%}
        {%- set aria_current=""-%}
        {%- if menu[locale].key == current_page_key -%}
            {%- set active_class=" active"-%}
            {%- set aria_current=' aria-current="page"'-%}
        {%- endif -%}
        <a class="nav-link{{ active_class }}"{{aria_current}} href="/{{locale}}/{{ menu[locale].slug }}/">{{ menu[locale].text }}</a>
    </li>
    {%- endfor -%}
</ul>
{% endblock %}

{% block end_of_body %}
{{ super() }}
<script>
let breakpoint = 992;

let navbar = document.getElementById('main_navbar');
let header = document.getElementById('page_header');
let logo = document.getElementById('bgf_logo_small');

window.addEventListener('scroll', function(e) {
    if (window.scrollY > 3 * navbar.offsetHeight / 4) {
        if (!navbar.classList.contains('scrolled')) {
            navbar.classList.add('scrolled');
            navbar.classList.remove('navbar-dark');
            navbar.classList.add('navbar-light');
        }
    }
    else {
        if (navbar.classList.contains('scrolled')) {
            navbar.classList.remove('scrolled');
            navbar.classList.add('navbar-dark');
            navbar.classList.remove('navbar-light');
        }
    }
    if(window.innerWidth >= breakpoint){
        if (window.scrollY > header.offsetHeight / 2) {
            if (!logo.classList.contains('scrolled')) {
                logo.classList.add('scrolled');
            }
        }
        else {
            if (logo.classList.contains('scrolled')) {
                logo.classList.remove('scrolled');
            }
        }
    }
});


let sticky_container = document.getElementById('sticky_container');
window.addEventListener("resize", function(){
   if(window.innerWidth < breakpoint){
      sticky_container.classList.remove('sticky-top');
   }
   else{
       sticky_container.classList.add('sticky-top');
   }
});
</script>
{% endblock %}