{%extends 'templates/base-template.njk' %}

{% block end_of_head %}
{{ super() }}
{%- set social_card_title -%}{% block social_card_title %}{% endblock %}{%- endset -%}
{%- set description -%}{% block social_card_description %}{% endblock %}{%- endset -%}
<meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
<meta prefix="og: http://ogp.me/ns#" property="og:title" content="{{ social_card_title }}" /> 
<meta prefix="og: http://ogp.me/ns#" property="og:description" content="{{ description }}" />
<meta prefix="og: http://ogp.me/ns#" property="og:url" content="{% block social_card_url %}{% endblock %}" />
<meta prefix="og: http://ogp.me/ns#" property="og:image" content="{% block social_card_image %}{% endblock %}" />
<meta property="twitter:card" content="summary_large_image" /> 
<meta property="twitter:title" content="{{social_card_title}}" />
<meta name="description" content="{{ description }}">
{% endblock %}

{% block content%}
<div class="container">
    <div class="row justify-content-md-center{% block sticky_container_class %}{% endblock %}" id="sticky_container">
        <div class="col-12 col-md-10 ps-0 pe-0">
            <nav class="navbar navbar-expand-lg navbar-dark transparent pb-0" id="main_navbar">
                <div class="container-fluid ps-0 pe-0">
                    <a class="navbar-brand" id="bgf_logo_small" href="/{{locale}}/"><img src="/static/img/logo-bgf-on-tour-min-120.png"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {% block navbar_menu %}{% endblock %}
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ locale }}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {# Finds the url of the current pages in the other languages #}

                            {# Finds this page translation key #}
                            {% set translation_key = "" %}
                            {%- for key, urls in site.pages -%}
                                {%- for lang, url in urls -%}
                                    {%- if url == page.url and lang == locale -%}
                                        {% set translation_key = key %}
                                    {%- endif -%}
                                {%- endfor -%}
                            {%- endfor -%}

                            {# Creates the other languages urls #}
                            {%- for available_language in site.languages -%}
                                {% set translated_url = "/" + available_language.code + "/" -%}
                                {%- if available_language.code != locale -%}
                                    {%- if site.pages[translation_key][available_language.code] -%}
                                        {% set translated_url = site.pages[translation_key][available_language.code] -%}
                                    {%- endif -%}
                                    <li><a class="dropdown-item text-secondary" href="{{ translated_url }}">{{ available_language.code }}</a></li>
                                {%- endif -%} 
                            {%- endfor -%}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 landing rounded text-md-left pb-3 mt-2 mb-5{% block content_classes %}{% endblock %}" id="content">
            <header class="row mb-4" id="page_header">
                <img src="{{ header_desktop_image }}" class="p-0 rounded-top d-none d-sm-block" alt="Header">
                <img src="{{ header_mobile_image }}" class="p-0 rounded-top d-block d-sm-none" alt="Header">
            </header>
            {% block site_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}