{%extends 'templates/base-template.njk' %}

{% block content%}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-10">
            <nav class="navbar navbar-expand-lg navbar-dark sticky-top transparent pb-0">
                <div class="container-fluid ps-0 pe-0">
                    <!--<a class="navbar-brand" href="#">Navbar</a>-->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {% block navbar_menu %}{% endblock %}
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ locale }}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {# Finds the url of the current pages in the other languages #}

                            {# Finds this page translation key #}
                            {% set translation_key = "" %}
                            {%- for key, urls in site.pages -%}
                                {%- for lang, url in urls -%}
                                    {%- if url == page.url and lang == locale -%}
                                        {% set translation_key = key %}
                                    {%- endif -%}
                                {%- endfor -%}
                            {%- endfor -%}

                            {# Creates the other languages urls #}
                            {%- for available_language in site.languages -%}
                                {% set translated_url = "/" + available_language.code + "/" -%}
                                {%- if available_language.code != locale -%}
                                    {%- if site.pages[translation_key][available_language.code] -%}
                                        {% set translated_url = site.pages[translation_key][available_language.code] -%}
                                    {%- endif -%}
                                    <li><a class="dropdown-item text-secondary" href="{{ translated_url }}">{{ available_language.code }}</a></li>
                                {%- endif -%} 
                            {%- endfor -%}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 landing rounded text-md-left pb-3 mt-2 mb-5{% block content_classes %}{% endblock %}" id="content">
            <header class="row mb-4">
                <img src="{{ header_desktop_image }}" class="p-0 rounded-top d-none d-sm-block" alt="Header">
                <img src="{{ header_mobile_image }}" class="p-0 rounded-top d-block d-sm-none" alt="Header">
            </header>
            {% block site_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}