---
opens_in_new_window: {
  'fr': "(S'ouvre dans une nouvelle fenêtre)",
  'nl': "(Opent in een nieuw venster)",
  'en': "(Opens in a new window)"
}
---
<!DOCTYPE html>

<html lang="{{ locale }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="author" content="{{ author }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/static/main.css" />
  </head>

  <body>
    {{ content | safe }}
    <footer class="text-center text-muted fs-6 mb-4">
      &copy;2021 Ludiris asbl - <a href="https://forms.gle/Q2cB9PjnHEbZ4CFD7" target="_blank" rel="noopener">Contactez-nous<span class="visually-hidden">{{opens_in_new_window[locale]}}</span></a>
    </footer>
    <script src="/static/main.js"></script>
  </body>
</html>
