{% extends 'templates/base-site-template.njk' %}

{%- set nbPages = site.partners.list.length // site.partners.partnersPerPage if site.partners.list.length % site.partners.partnersPerPage == 0 else site.partners.list.length // site.partners.partnersPerPage + 1 -%}

{%- set header_desktop_image = "/static/img/banner/Banner_1200x630_BGF2020-21_V2-3-1280x672-min.jpg" %}
{%- set header_mobile_image = "/static/img/banner/Mobile_1080x1080_BGF2020-480x480-min.jpg" %}

{% block before_container %}
<nav class="nav" role="navigation">
    {% include 'templates/snippets/language-nav.njk' %}
</nav>
{% endblock %}

{% block site_content %}
<div class="row ps-3 pe-3">
    <div class="col-12 row mb-5" id="social_media">
        {%- for social_media in site.social_medias %}
        <div class="col-12 col-md-3">
            <h2 class="mb-0 mt-2 h6 d-none d-md-block d-lg-none">{{ social_media.title[locale] | safe }}</h2>
            <h2 class="mb-0 mt-2 h5 d-md-none d-lg-block">{{ social_media.title[locale] | safe }}</h2>
            <a href="{{ social_media.url }}" target="_blank" rel="noopener"><img src="/static/img/{{ social_media.image }}" class="img-fluid" alt="{{ social_media.alt[locale] }}"><span class="visually-hidden">{{texts[locale].opens_in_new_window}}</span></a>
        </div>
        {%- endfor -%}
    </div>
    <div class="col-12 col-md-8 order-md-1">
        {% block purpose %}{% endblock %}
    </div>
    <div class="col-12 order-md-3">
        {% block place %}{% endblock %}
    </div>
    <div class="col-12 order-md-4">
        {% block videos %}{% endblock %}
        <div class="row">
        {%- for youtube_channel in site.youtube_channels %}
            <div class="col-12 col-md-3 mb-3 mb-md-0">
                <a href="{{ youtube_channel.url }}" target="_blank" rel="noopener"><img src="/static/img/{{ youtube_channel.image }}" alt="{{ youtube_channel.title }}" class="img-fluid"><span class="visually-hidden">{{texts[locale].opens_in_new_window}}</span></a>
            </div>
        {%- endfor -%}
        </div>
    </div>
    <div class="col-12 order-md-5">
        {% block and_now %}{% endblock %}
    </div>
    <div class="col-12 col-md-4 order-md-2">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="card-title h5">Newsletter</h2>
                <h3 class="card-subtitle mb-2 text-muted h6">{{texts[locale].newsletter_presentation}}</h3>
                <div class="card-body">
                    <a class="btn btn-dark" href="https://forms.gle/P8DPg7LyiDrRaQoL6" target="_blank" rel="noopener">{{texts[locale].newsletter_button}}<span class="visually-hidden">{{texts[locale].opens_in_new_window}}</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 order-md-last">
        {% block partners %}{% endblock %}
        <div id="partners_carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {%- for i in range(nbPages) -%}
                {%- set activeClass = '  class="active" aria-current="true"' if loop.first else "" %}
                <button type="button" data-bs-target="#partners_carousel" data-bs-slide-to="{{ i }}" aria-label="Page {{ i + 1 }}"{{ activeClass | safe }}></button>
                {%- endfor %}
            </div>
            <div class="carousel-inner">
                {%- for partner in site.partners.list %}
                    {%- set activeClass = ' active' if loop.first else "" -%}
                    {%- if not loop.first and loop.index0 % site.partners.partnersPerPage == 0 %}
                </div></div>
                    {%- endif %}
                    {%- if loop.index0 % site.partners.partnersPerPage == 0 %}
                <div class="carousel-item{{ activeClass }}"><div class="d-flex justify-content-evenly w-100">
                    {%- endif %}
                    <a href="{{ partner.url }}" target="_blank" class="d-inline-block" style="width: 100px; height: 100px;" rel="noopener"><img src="/static/img/partners/{{ partner.logo }}" loading="lazy" class="img-fluid" alt="{{ partner.name }}"><span class="visually-hidden">{{texts[locale].opens_in_new_window}}</span></a> 
                    {%- if loop.last %}
                </div></div>
                    {% endif %}
                {%- endfor -%}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#partners_carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#partners_carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}