{% extends 'templates/base-full-site-template.njk' %}

{%- set current_page_key = "the-bgf" -%}
{%- set header_desktop_image = "/static/img/banner/Banner_1200x630_BGF2020-21_V2-3-1280x672-min.jpg" %}
{%- set header_mobile_image = "/static/img/banner/Mobile_1080x1080_BGF2020-480x480-min.jpg" %}