{% extends 'templates/_base-template.njk' %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-12 col-md-8">
            <img src="/static/img/logo-BGF-on-tour.png" class="img-fluid" alt="Brussels Games Festival logo">
        </div>
        <div class="col-12 col-md-4 pt-5 text-center">
            <div class="d-grid gap-2 col-12 mx-auto">
            {%- for available_language in site.languages -%}
                <a class="btn btn-light link-danger btn-block col col-md-4 mb-md-3" href="/{{ available_language.code }}/">{{ available_language.label }}</a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
