body {
  background-color: #c5b69f;
  font-family: "Nunito", Helvetica, Arial, Lucida, sans-serif;
  font-size: 1.25rem;
}
#content {
  background-color: white;
}
.nav a.nav-link.active {
  color: #f8f9fa !important;
}
#social_media a.btn {
  color: white !important;
}
.partner {
  height: 200px;
}
