{% extends 'templates/page.simplified-home.njk' %}

{% set description = "Het BGF stelt voor aan momentjes of ontmoetingen en verdelingen aan de Brusselaars en de liefhebbers van het spel te bieden. Men kan hier bordspellen, party games, beeldjes spellen, educatieve spellen, houten spelletjes, rollenspelletjes, levensgrote spellen, “world games”, “escape games”, aangepaste games aangeboden door professionals, maar ook toernooien, conferenties, een beurs voor games en een ProtoZone vinden." %}

{% block title %}Home - {% endblock %}

{% block social_card_title %}Brussels Games Festival (27-28-29/08/2021){% endblock %}
{% block social_card_description %}{{ description }}{% endblock %}
{% block social_card_url %}{{ site.base_url }}/nl/{% endblock %}
{% block social_card_image %}{{ site.base_url }}/static/img/banner/Banner_1200x630_BGF2020-21_V2-3-1280x672-min.jpg{% endblock %}

{% block purpose %}
<p>Het Brussels Games Festival (BGF) heeft als doel om het gezelschapspelletje in al zijn vormen te bevorderen en bijzonder het bewustmaken van de praktijk van gezelschapspelletjes voor alle burgers, ongeacht leeftijd, geslacht, sociale status of etnische afkomst. Georganiseerd het laatste weekend van augustus, het stelt voor aan momentjes of ontmoetingen en verdelingen aan de Brusselaars en de liefhebbers van het spel te bieden. Men kan hier bordspellen, party games, beeldjes spellen, educatieve spellen, houten spelletjes, rollenspelletjes, levensgrote spellen, “world games”, “escape games”, aangepaste games aangeboden door professionals, maar ook toernooien, conferenties, een beurs voor games en een ProtoZone vinden.</p>
{% endblock %}

{% block place %}
<h1 class="mt-5">Vervangen</h1>
<p>In 2020, vanwege de gezondheidscontext, neemt het festival meestal online en in een dozijn van Brusselse partnerlocaties. BGF wordt het BGF on tour. Naast de honderden spelen voorgestelde de vier hoeken van Brussel, het online-versie voorstelt 21 uren van live met discussies, live animaties, prototypes beschikbaar op verschillende platforms, afbeeldingen games gepubliceerd op Facebook, een onlinetoernooi, een interactieve escape game, etc.</p>
{% endblock %}

{% block videos %}
<h1 class="mt-5">Video's</h1>
<p>Je kunt de video's van de editie 2020 en eerdere edities vinden op ons YouTube-kanaal.</p>
<p>Bekijk de kanalen van onze gastheren en partners.</p>
{% endblock %}

{% block and_now %}
<h1 class="mt-5">En nu ?</h1>
<p>Informatie over de editie 2021 zal zo spoedig mogelijk worden doorgegeven. Aarzel niet om ons te volgen op sociale netwerken en om ons te abonneren op onze nieuwsbrief om op de hoogte te blijven.</p>
{% endblock %}

{% block partners %}
<h1 class="mt-5">Onze partners</h1>
{% endblock %}