{% extends 'templates/page.homepage.njk' %}

{% block title %}Home - {% endblock %}

{% block social_card_title %}{% endblock %}
{% block social_card_description %}{% endblock %}
{% block social_card_url %}{% endblock %}
{% block social_card_image %}{% endblock %}

{% block site_content %}
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
{% endblock %}