---
layout: templates/simplified-home.njk
title: Welkom op het Brussels Games Festival
translationKey: simplified-homepage
---
{% layoutblock 'SH_FESTIVAL_PURPOSE', locale %}
NL1
{% endlayoutblock %}

{% layoutblock 'SH_FESTIVAL_PLACE', locale %}
NL2
{% endlayoutblock %}

{% layoutblock 'SH_FESTIVAL_VIDEOS', locale %}
NL3
{% endlayoutblock %}

{% layoutblock 'SH_FESTIVAL_AND_NOW', locale %}
NL4
{% endlayoutblock %}

{% layoutblock 'SH_FESTIVAL_PARTNERS', locale %}
NL5
{% endlayoutblock %}