{% extends 'templates/page.simplified-home.njk' %}

{% block title %}Home - {% endblock %}

{% block social_card_title %}Brussels Games Festival (27-28-29/08/2021){% endblock %}
{% block social_card_description %}De BGF biedt aan Brusselaars en liefhebbers van het spel momenten van ontmoeting en uitwisseling. Er zijn bordspellen, gezelschapsspellen, miniatuurspellen, educatieve spellen, houten spellen, rollenspellen, levensgrote spellen, wereldspelen, ontsnappingsspelen, aangepaste spellen aangeboden door professionals maar ook toernooien, conferenties, enz., een spellenmarkt en een protozone.{% endblock %}
{% block social_card_url %}{{ site.base_url }}/nl/{% endblock %}
{% block social_card_image %}{{ site.base_url }}/static/img/banner/Banner_1200x630_BGF2020-21_V2-3-1280x672-min.jpg{% endblock %}

{% block purpose %}
<p>Het doel van het Brussels Games Festival (BGF) is om spelen in al zijn vormen te promoten en, in het bijzonder, om alle burgers bewust te maken van de praktijk van spelen, zonder onderscheid naar leeftijd, geslacht, sociale toestand of etnische afkomst. Georganiseerd het laatste weekend van augustus, de BGF biedt aan Brusselaars en liefhebbers van het spel momenten van ontmoeting en uitwisseling. Er zijn bordspellen, gezelschapsspellen, miniatuurspellen, educatieve spellen, houten spellen, rollenspellen, levensgrote spellen, wereldspelen, ontsnappingsspelen, aangepaste spellen aangeboden door professionals maar ook toernooien, conferenties, enz., een spellenmarkt en een protozone.</p>
{% endblock %}

{% block place %}
<h1 class="mt-5">Plaats</h1>
<p>Vanwege de gezondheidscontext vond het festival in 2020 voornamelijk online en in een tiental partnerlocaties in Brussel plaats. De BGF is de BGF on tour geworden. Naast de honderden spellen die in de vier hoeken van de hoofdstad worden aangeboden, biedt de online versie 21 uur live met discussies, live animaties, prototypes die toegankelijk zijn op verschillende platforms, spelen in foto's gepubliceerd op Facebook, een online toernooi, een interactieve escape spel enz.</p>
{% endblock %}

{% block videos %}
<h1 class="mt-5">Videos</h1>
<p>De video's van de 2020-editie en eerdere edities vind je op ons Youtube-kanaal.</p>
<p>Raadpleeg de kanalen van onze hosts en partners.</p>
{% endblock %}

{% block and_now %}
<h1 class="mt-5">En nu ?</h1>
<p>Informatie voor de editie 2021 zal zo snel mogelijk worden gecommuniceerd. Volg ons gerust op social media en schrijf je in op onze nieuwsbrief om op de hoogte te blijven.</p>
{% endblock %}

{% block partners %}
<h1 class="mt-5">Onze partners</h1>
{% endblock %}