<header class="row mb-4">
    <img src="{{ header_desktop_image }}" class="p-0 rounded-top d-none d-sm-block" alt="Header">
    <img src="{{ header_mobile_image }}" class="p-0 rounded-top d-block d-sm-none" alt="Header">
</header>