<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{ locale }}
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
{%- for available_language in site.languages -%}
  {% set translatedUrl = "/" + available_language.code + "/" -%}
  {%- if available_language.code != locale  %}
  {%- for item in collections.all %}
  {%- if item.data.translationKey == translationKey and item.data.locale == available_language.code -%}
    {%- set translatedUrl = item.url -%}
  {%- endif -%}
  {%- endfor %}
      <li><a class="dropdown-item{{ activeClass }}{% if loop.first %} ms-auto{% endif %} ps-1 pe-1"{{ ariaCurrent | safe }} lang="{{ available_language.code }}" hreflang="{{ available_language.code }}" href="{{translatedUrl}}">
        {{ available_language.code }}
      </a>
  {% endif -%}
{%- endfor %}
    </ul>
  </li>
</ul>
