$site-background-color: #f0d03a;
$content-background-color: white;

body {
  background-color: $site-background-color;
  font-family: "Nunito", Helvetica, Arial, Lucida, sans-serif;
  font-size: 1.25rem;
}
#content {
  background-color: $content-background-color;
}
.nav a.nav-link.active {
  color: #f8f9fa !important;
}
.partner {
  height: 200px;
}

#simplified-content p {
  text-align: justify;
}

.navbar.transparent {
  background: rgba(0, 0, 0, 0) !important;
}

button.navbar-toggler {
  position: relative;
  left: -5px;
}

.dropdown-menu {
  min-width: 3rem;
  text-align: center;
}