{% extends 'templates/page.simplified-home.njk' %}

{% block title %}Accueil - {% endblock %}

{% block social_card_title %}Brussels Games Festival (27-28-29/08/2021){% endblock %}
{% block social_card_description %}Le BGF propose d’offrir aux Bruxellois et aux amoureux du jeu des instants de rencontres et de partages. On y trouve des jeux de plateau, party games, jeux de figurines, jeux éducatifs, jeux en bois, jeux de rôle, grandeur nature, jeux du monde, escape games, jeux adaptés proposés par des professionnels mais aussi des tournois, des conférences, une bourse aux jeux et une protozone.{% endblock %}
{% block social_card_url %}{{ site.base_url }}/fr/{% endblock %}
{% block social_card_image %}{{ site.base_url }}/static/img/banner/Banner_1200x630_BGF2020-21_V2-3-1280x672-min.jpg{% endblock %}

{% block purpose %}
<p>Le Brussels Games Festival (BGF) a pour but de promouvoir le jeu sous toutes ses formes et, notamment, de sensibiliser à la pratique du jeu pour tous les citoyens sans distinction d’âge, de sexe, de condition sociale ou d’origine ethnique. Organisé le dernier week-end du mois d’août, il propose d’offrir aux Bruxellois et aux amoureux du jeu des instants de rencontres et de partages. On y trouve des jeux de plateau, party games, jeux de figurines, jeux éducatifs, jeux en bois, jeux de rôle, grandeur nature, jeux du monde, escape games, jeux adaptés proposés par des professionnels mais aussi des tournois, des conférences, une bourse aux jeux et une protozone.</p>
{% endblock %}

{% block place %}
<h1 class="mt-5">Emplacement</h1>
<p>En 2020, en raison du contexte sanitaire, le festival a lieu principalement en ligne et dans une douzaine de lieux partenaires bruxellois. Le BGF devient le BGF on tour. Outre les centaines de jeux proposés aux quatre coins de la capitale, la version en ligne propose 21 heures de live   avec des discussions, des animations en direct, des prototypes accessibles sur différentes plateformes, des jeux en images publiés sur Facebook, un tournoi en ligne, un escape game interactif etc.</p>
{% endblock %}

{% block videos %}
<h1 class="mt-5">Vidéos</h1>
<p>Vous pouvez retrouver les vidéos de l’édition 2020 et des éditions précédentes sur notre chaine Youtube.</p>
<p>Consultez les chaînes de nos animateurs et partenaires.</p>
{% endblock %}

{% block and_now %}
<h1 class="mt-5">Et maintenant ?</h1>
<p>Des informations pour l’édition 2021 seront communiquées dès que possible. N’hésitez pas à nous suivre sur les réseaux sociaux et à vous inscrire à notre newsletter pour être tenus au courant.</p>
{% endblock %}

{% block partners %}
<h1 class="mt-5">Nos partenaires</h1>
{% endblock %}