{% extends 'templates/page.press.njk' %}

{% block title %}Presse - {% endblock %}

{% block social_card_title %}{% endblock %}
{% block social_card_description %}{% endblock %}
{% block social_card_url %}{% endblock %}
{% block social_card_image %}{% endblock %}

{% block site_content %}
<h1>Presse</h1>
{% endblock %}