{% extends 'templates/page.program.njk' %}

{% block title %}Programme - {% endblock %}

{% block social_card_title %}{% endblock %}
{% block social_card_description %}{% endblock %}
{% block social_card_url %}{% endblock %}
{% block social_card_image %}{% endblock %}

{% block site_content %}
<h1>Programme</h1>
{% endblock %}